.castHeading{
    grid-column: 2/5;
    grid-row: 3/6;
    z-index: 11;
    align-self: center;
    justify-content: center;
    color: white;
    font-size: 1.8rem;
}


#actors{
    display: flex;
    list-style: none;
    grid-column: 2/5;
    grid-row: 3/6;
    z-index: 11;
    align-self: center;
    justify-content: space-evenly;
    color: white;
    text-align: center;
    cursor: pointer;
}

#actors img{
    width: 6rem;
    border-radius: .6rem;
    transition: transform .5s ease;
}

#actors img:hover{
    transform: scale(1.1);
    transition: transform .5s ease;
}

#actors img:hover + h3{
    transform: translateY(.5rem) scale(.9);
    transition: transform .5s ease;
}

#actors h3{
    text-align: center;
    transition: transform .5s ease;
}

#similar{
    display: flex;
    list-style: none;
    grid-column: 1/5;
    grid-row: 7/10;
    z-index: 11;
    align-self: end;
    justify-content: space-evenly;
    color: white;
}

/* #similar img{
    width: 8rem;
    height: 5rem;
    border-radius: .6rem;
} */

/* #similar h3{
    text-align: center;
} */

.castHeading{
    grid-column: 2/5;
    grid-row: 3/6;
    z-index: 11;}
