

nav{
    background-color: #272838;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding-top: 5rem;
}


.hamburger-box{
    background-color:#272838;
    width: 5rem;
    height: 5rem;
    position: absolute;
    top: 1rem;
    left: 3rem;
    z-index: 15;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .7s ease-in;
    
}


.hamburger{
    width: 3rem;
    height: .3rem;
    background-color: white;
    position: relative;
    cursor: pointer;
    transition: all .9s ease;
    z-index: 15;
}

.hamburger::after{
    content: "";
    position: absolute;
    top: 0;
    left: .2rem;
    width: 3rem;
    height: .3rem;
    background-color: white;
    z-index: 16;
    transform-origin: top;
    transform: rotate(90deg);
}

.smallWidth{
    flex: 0 0 7%;
    transition: all .7s ease-in;
}
.changeWidth {
    flex: 0 0 20%;
    transition: all .4s ease-in;
}

.moveHamburger{
    left: 30rem;
    transition: all .4s ease-in;
}


nav .nav-links{
    text-decoration: none;
    color: white;
    background-color: #A7BCD0;
    padding: .7rem;
    width: 100%;
    text-align: center;
    border-radius: 2rem;
    text-transform: capitalize;
    font-size: 1.8rem;
    z-index: 15;
    transition: color .9s ease-in;
}

body nav  .visibiltyTime{
    visibility: hidden;
    transition: all .4s ease-in;
}

.nav_items{
    visibility: visible;
     width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    transition: all .5s ease-in;
}

nav .nav_items a::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 3.5rem;
    border-radius: 2rem;
    background-color: #fff;
    z-index: -1;
    transition: width .9s ease-in;

}

nav  a:hover::before{
    width: 100%;
    transition: width .9s ease;
    
}

nav a:hover{
color: black;
transition: color .9s ease;
}

.nav_items ul{
    list-style: none;
    display: none;
    opacity: 0;
    margin-top: 1.5rem;
    width: 60%;
    text-align: center;
    transition: all .9s ease;
}


.nav_items ul li {
    margin-top: 1rem;
    background-color: #539CE2;
    border-radius: 2rem;
    padding: .2rem 0;
    color: white;
    font-size: 1.5rem;
   position: relative;
   z-index: 15;
   cursor: pointer;
   transition: color .9s ease;
}


.nav_items ul li::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 2.2rem;
    border-radius: 2rem;
    background-color: #fff;
    z-index: -1;
    transition: width .9s ease;
}




.nav_items ul li:hover{
    color: #000;
    transition: color .9s ease;
}


 .nav_items ul li:hover::after{
    width: 100%;
    transition: width .9s ease;
    
}


body .nav_items .displayList{
    display: block;
    opacity: 1;
    transition: all .9s ease;
    
}


@media only screen and (max-width:1510px){
    .moveHamburger{
        left: 28rem;
    }
    
}

@media only screen and (max-width:1410px){
    .moveHamburger{
        left: 26rem;
    }
    
}

@media only screen and (max-width:1310px){
    .moveHamburger{
        left: 24rem;
    }
    body .footer p{
        font-size: 1.2rem;
    }
    
    .fab{
        font-size: 2.5rem;
    }
    
}

@media only screen and (max-width:1210px){
    .moveHamburger{
        left: 22rem;
    }

    
}

@media only screen and (max-width:1110px){
    .moveHamburger{
        left: 20rem;
    }

    .hamburger-box{
        background-color:#272838;
        width: 4rem;
        height: 4rem;
    }
    .hamburger,
    .hamburger::after{
        width: 2.5rem;
    }
    
}

@media only screen and (max-width:1080px){
    body .footer p{
        font-size: 1rem;
    }
    
    .fab{
        font-size: 2rem;
    }
    
}

@media only screen and (max-width:1000px){
    body nav .nav-links
   {
        font-size: 1.4rem;
    }
    
    body .nav_items ul li{
        font-size: 1.1rem;
    }
}

@media only screen and (max-width:885px){
    body .footer p{
        font-size: .8rem;
    }
    
    .fab{
        font-size: 1.6rem;
    }
    
}


@media only screen and (max-width:810px){
    .nav_items{
         width: 100%;
         
    }

    body nav .nav-links,
    nav .nav_items a::before{
        border-radius: 0;
    }

    
}

@media only screen and (max-width:1110px){
    .moveHamburger{
        left: 18rem;
    }

    .hamburger-box{
        background-color:#272838;
        width: 4rem;
        height: 4rem;
    }
    .hamburger,
    .hamburger::after{
        width: 2.5rem;
    }

    body nav .nav-links
    {
         font-size: 1.2rem;
     }
     
     body .nav_items ul li{
         font-size: .9rem;
     }
    
}

@media only screen and (max-width:910px){
    .moveHamburger{
        left: 16rem;
    }
    
}

@media only screen and (max-width:810px){
    .moveHamburger{
        left: 14rem;
        top: .5rem;
    }
    
    .hamburger-box{
        background-color:#272838;
        width: 3rem;
        height: 3rem;
    }
    .hamburger,
    .hamburger::after{
        width: 2rem;
    }

    
  .wrapper .smallWidth{
    flex: 0 0 3%;
    
}
}


@media only screen and (max-width:710px){
    .moveHamburger{
        left: 12rem;
    }

        body .footer p{
            font-size: .6rem;
        }
        
        .fab{
            font-size: 1.4rem;
        }
        

    
}


@media only screen and (max-width:610px){
    .moveHamburger{
        left: 10rem;
    }
    
}

